*.aux
*.log
*.lof
*.lot
*.pdf_tex
*.pdf
*.bbl
*.blg
*.toc
*.brf
*.lbl
*.bak
*.out
*.cut
*.spl
tabs/preview_tmp.tex
figs/preview_tmp.tex
.vscode/settings.json
build/
template/
download/
download
template
!orcid.pdf
svg-inkscape
.time_txt
!templates/feif/*.pdf
